#### Importamos las librerías
#### Cargamos el .csv y renombramos las columnas
#### Añadimos una columna nueva que llevará el valor 1

In [2]:
import pandas as pd
import json
import re
from sklearn.pipeline import Pipeline
from sklearn.ensemble import IsolationForest
import numpy as np

pcap_data = pd.read_csv('/home/snort/Desktop/ransomware2s.csv')
pcap_data.columns = ['no', 'time', 'rel', 'info', 'ipsrc', 'ipdst', 'proto', 'len']
pcap_data['info'] = "null"
pcap_data.parse_dates=["time"]

pcap_data['num'] = 1
df = pcap_data
df

,no,time,rel,info,ipsrc,ipdst,proto,len,num
0,1,2017-03-20 17:08:53,0s,null,10.3.20.102,37.202.7.169,TCP,66,1
1,2,2017-03-20 17:08:54,0s,null,37.202.7.169,10.3.20.102,TCP,60,1
2,3,2017-03-20 17:08:54,0s,null,10.3.20.102,37.202.7.169,TCP,60,1
3,4,2017-03-20 17:08:54,0s,null,10.3.20.102,37.202.7.169,HTTP,309,1
4,5,2017-03-20 17:08:54,0s,null,37.202.7.169,10.3.20.102,TCP,60,1
5,6,2017-03-20 17:08:54,0s,null,37.202.7.169,10.3.20.102,TCP,582,1
6,7,2017-03-20 17:08:54,0s,null,10.3.20.102,37.202.7.169,TCP,60,1
7,8,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,1407,1
8,9,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,1395,1
9,10,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,66,1
10,11,2017-03-20 17:08:55,1s,null,10.3.20.102,37.202.7.169,TCP,60,1
11,12,2017-03-20 17:08:55,1s,null,10.3.20.102,37.202.7.169,TCP,60,1
12,13,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,1395,1
13,14,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,66,1
14,15,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,904,1
15,16,2017-03-20 17:08:55,1s,null,10.3.20.102,37.202.7.169,TCP,60,1
16,17,2017-03-20 17:08:55,1s,null,10.3.20.102,37.202.7.169,TCP,60,1
17,18,2017-03-20 17:08:55,1s,null,10.3.20.102,92.53.104.78,TCP,66,1
18,19,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,1514,1
19,20,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,450,1
20,21,2017-03-20 17:08:55,1s,null,10.3.20.102,37.202.7.169,TCP,60,1
21,22,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,1407,1
22,23,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,1395,1
23,24,2017-03-20 17:08:55,1s,null,10.3.20.102,37.202.7.169,TCP,60,1
24,25,2017-03-20 17:08:55,1s,null,10.3.20.102,37.202.7.169,TCP,60,1
25,26,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,1395,1
26,27,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,78,1
27,28,2017-03-20 17:08:55,1s,null,37.202.7.169,10.3.20.102,TCP,1407,1
28,29,2017-03-20 17:08:55,1s,null,10.3.20.102,37.202.7.169,TCP,60,1
29,30,2017-03-20 17:08:55,2s,null,37.202.7.169,10.3.20.102,TCP,1395,1
...,...,...,...,...,...,...,...,...,...
2610,2611,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.241,UDP,60,1
2611,2612,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.242,UDP,60,1
2612,2613,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.243,UDP,60,1
2613,2614,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.244,UDP,60,1
2614,2615,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.245,UDP,60,1
2615,2616,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.246,UDP,60,1
2616,2617,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.247,UDP,60,1
2617,2618,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.248,UDP,60,1
2618,2619,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.249,UDP,60,1
2619,2620,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.250,UDP,60,1
2620,2621,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.251,UDP,60,1
2621,2622,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.252,UDP,60,1
2622,2623,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.253,UDP,60,1
2623,2624,2017-03-20 17:09:16,22s,null,10.3.20.102,149.202.251.254,UDP,60,1
2624,2625,2017-03-20 17:09:17,23s,null,10.3.20.102,149.202.251.255,UDP,60,1
2625,2626,2017-03-20 17:09:30,36s,null,10.3.20.102,216.170.119.139,TCP,66,1
2626,2627,2017-03-20 17:09:30,36s,null,216.170.119.139,10.3.20.102,TCP,60,1
2627,2628,2017-03-20 17:09:30,36s,null,10.3.20.102,216.170.119.139,TCP,60,1
2628,2629,2017-03-20 17:09:30,36s,null,10.3.20.102,216.170.119.139,HTTP,415,1
2629,2630,2017-03-20 17:09:30,36s,null,216.170.119.139,10.3.20.102,TCP,60,1
2630,2631,2017-03-20 17:09:31,37s,null,216.170.119.139,10.3.20.102,HTTP,292,1
2631,2632,2017-03-20 17:09:31,37s,null,10.3.20.102,216.170.119.139,TCP,60,1
2632,2633,2017-03-20 17:10:03,1m 9s,null,92.53.104.78,10.3.20.102,TCP,60,1
2633,2634,2017-03-20 17:10:03,1m 9s,null,10.3.20.102,92.53.104.78,TCP,60,1
2634,2635,2017-03-20 17:10:34,1m 40s,null,10.3.20.102,92.53.104.78,TCP,60,1
2635,2636,2017-03-20 17:10:34,1m 40s,null,92.53.104.78,10.3.20.102,TCP,60,1
2636,2637,2017-03-20 17:10:36,1m 42s,null,216.170.119.139,10.3.20.102,TCP,60,1
2637,2638,2017-03-20 17:10:36,1m 42s,null,10.3.20.102,216.170.119.139,TCP,60,1
2638,2639,2017-03-20 17:11:17,2m 24s,null,10.3.20.102,216.170.119.139,TCP,60,1
2639,2640,2017-03-20 17:11:17,2m 24s,null,216.170.119.139,10.3.20.102,TCP,60,1

#### Convertimos la columna time en datetime y en indice
#### Agrupamos por ipdst, proto y data y hacemos un count que irá en una columna nueva llamada count
#### Falta cambiar la columna indice por frequencias de 5 segundos

In [28]:
df['time'] = pd.to_datetime(df['time'])
df.index = df['time']
data = df.copy()

data_group = pd.DataFrame({'count': data.groupby(['ipdst', 'proto', data.index]).size()}).reset_index()
data_group.index = data_group['time']
data_group

data_group.groupby(['ipdst','proto']).resample('5S', on='time').sum().reset_index()

#datafreq1 = data_group.resample("5s")['count'].agg(['sum']).reset_index()
#datafreq1 = data_group.resample("5s").sum()
#datafreq1 = data_group.resample("5s").mean().reset_index()
#datafreq1

                ipdst proto                time  count
0         10.3.20.102  HTTP 2017-03-20 17:08:55    3.0
1         10.3.20.102  HTTP 2017-03-20 17:09:00    NaN
2         10.3.20.102  HTTP 2017-03-20 17:09:05    NaN
3         10.3.20.102  HTTP 2017-03-20 17:09:10    NaN
4         10.3.20.102  HTTP 2017-03-20 17:09:15    NaN
5         10.3.20.102  HTTP 2017-03-20 17:09:20    NaN
6         10.3.20.102  HTTP 2017-03-20 17:09:25    NaN
7         10.3.20.102  HTTP 2017-03-20 17:09:30    1.0
8         10.3.20.102   TCP 2017-03-20 17:08:50    3.0
9         10.3.20.102   TCP 2017-03-20 17:08:55  104.0
10        10.3.20.102   TCP 2017-03-20 17:09:00  204.0
11        10.3.20.102   TCP 2017-03-20 17:09:05    NaN
12        10.3.20.102   TCP 2017-03-20 17:09:10    NaN
13        10.3.20.102   TCP 2017-03-20 17:09:15    NaN
14        10.3.20.102   TCP 2017-03-20 17:09:20    NaN
15        10.3.20.102   TCP 2017-03-20 17:09:25    NaN
16        10.3.20.102   TCP 2017-03-20 17:09:30    2.0
17        10.3.20.102   TCP 2017-03-20 17:09:35    NaN
18        10.3.20.102   TCP 2017-03-20 17:09:40    NaN
19        10.3.20.102   TCP 2017-03-20 17:09:45    NaN
20        10.3.20.102   TCP 2017-03-20 17:09:50    NaN
21        10.3.20.102   TCP 2017-03-20 17:09:55    NaN
22        10.3.20.102   TCP 2017-03-20 17:10:00    1.0
23        10.3.20.102   TCP 2017-03-20 17:10:05    NaN
24        10.3.20.102   TCP 2017-03-20 17:10:10    NaN
25        10.3.20.102   TCP 2017-03-20 17:10:15    NaN
26        10.3.20.102   TCP 2017-03-20 17:10:20    NaN
27        10.3.20.102   TCP 2017-03-20 17:10:25    NaN
28        10.3.20.102   TCP 2017-03-20 17:10:30    1.0
29        10.3.20.102   TCP 2017-03-20 17:10:35    1.0
...               ...   ...                 ...    ...
2488  216.170.119.139   TCP 2017-03-20 17:10:55    NaN
2489  216.170.119.139   TCP 2017-03-20 17:11:00    NaN
2490  216.170.119.139   TCP 2017-03-20 17:11:05    NaN
2491  216.170.119.139   TCP 2017-03-20 17:11:10    NaN
2492  216.170.119.139   TCP 2017-03-20 17:11:15    1.0
2493     37.202.7.169  HTTP 2017-03-20 17:08:50    1.0
2494     37.202.7.169   TCP 2017-03-20 17:08:50    3.0
2495     37.202.7.169   TCP 2017-03-20 17:08:55   21.0
2496     92.53.104.78  HTTP 2017-03-20 17:08:55    2.0
2497     92.53.104.78  HTTP 2017-03-20 17:09:00    1.0
2498     92.53.104.78   TCP 2017-03-20 17:08:55   31.0
2499     92.53.104.78   TCP 2017-03-20 17:09:00   76.0
2500     92.53.104.78   TCP 2017-03-20 17:09:05    NaN
2501     92.53.104.78   TCP 2017-03-20 17:09:10    NaN
2502     92.53.104.78   TCP 2017-03-20 17:09:15    NaN
2503     92.53.104.78   TCP 2017-03-20 17:09:20    NaN
2504     92.53.104.78   TCP 2017-03-20 17:09:25    NaN
2505     92.53.104.78   TCP 2017-03-20 17:09:30    NaN
2506     92.53.104.78   TCP 2017-03-20 17:09:35    NaN
2507     92.53.104.78   TCP 2017-03-20 17:09:40    NaN
2508     92.53.104.78   TCP 2017-03-20 17:09:45    NaN
2509     92.53.104.78   TCP 2017-03-20 17:09:50    NaN
2510     92.53.104.78   TCP 2017-03-20 17:09:55    NaN
2511     92.53.104.78   TCP 2017-03-20 17:10:00    1.0
2512     92.53.104.78   TCP 2017-03-20 17:10:05    NaN
2513     92.53.104.78   TCP 2017-03-20 17:10:10    NaN
2514     92.53.104.78   TCP 2017-03-20 17:10:15    NaN
2515     92.53.104.78   TCP 2017-03-20 17:10:20    NaN
2516     92.53.104.78   TCP 2017-03-20 17:10:25    NaN
2517     92.53.104.78   TCP 2017-03-20 17:10:30    1.0

[2518 rows x 4 columns]

In [190]:
#data_group = pd.DataFrame({'count': datafreq1.groupby(['ipdst', 'proto', datafreq1.index]).size()}).reset_index()
#data_group
#data_group_sel = data_group[['ipdst', 'proto', 'time']]
#data_group_sel

#data_group1 = pd.DataFrame({'count': data_group_sel.groupby(['ipdst', 'proto', 'time']).size()}).reset_index()
#data_group1.groupby(['ipdst', 'proto', 'time']).count()

In [179]:
data_sel_char1 = data_group[['count']]
data_sel_char1

data_normalized1 = data_sel_char1.copy()
data_normalized1['count_n'] = (data_sel_char1['count'] - data_sel_char1['count'].min()) / (data_sel_char1['count'].max() - data_sel_char1['count'].min())
data_normalized1

                     count   count_n
time
2017-03-20 17:08:56      1  0.000000
2017-03-20 17:08:57      1  0.000000
2017-03-20 17:08:58      1  0.000000
2017-03-20 17:09:31      1  0.000000
2017-03-20 17:08:54      3  0.010471
2017-03-20 17:08:55     29  0.146597
2017-03-20 17:08:56     15  0.073298
2017-03-20 17:08:57     49  0.251309
2017-03-20 17:08:58     11  0.052356
2017-03-20 17:09:00      2  0.005236
2017-03-20 17:09:02    192  1.000000
2017-03-20 17:09:03     10  0.047120
2017-03-20 17:09:30      2  0.005236
2017-03-20 17:10:03      1  0.000000
2017-03-20 17:10:34      1  0.000000
2017-03-20 17:10:36      1  0.000000
2017-03-20 17:11:17      1  0.000000
2017-03-20 17:09:07      1  0.000000
2017-03-20 17:09:13      1  0.000000
2017-03-20 17:09:07      1  0.000000
2017-03-20 17:09:13      1  0.000000
2017-03-20 17:09:07      1  0.000000
2017-03-20 17:09:13      1  0.000000
2017-03-20 17:09:07      1  0.000000
2017-03-20 17:09:13      1  0.000000
2017-03-20 17:09:07      1  0.000000
2017-03-20 17:09:13      1  0.000000
2017-03-20 17:09:07      1  0.000000
2017-03-20 17:09:13      1  0.000000
2017-03-20 17:09:07      1  0.000000
...                    ...       ...
2017-03-20 17:09:07      1  0.000000
2017-03-20 17:09:13      1  0.000000
2017-03-20 17:09:07      1  0.000000
2017-03-20 17:09:13      1  0.000000
2017-03-20 17:09:07      1  0.000000
2017-03-20 17:09:13      1  0.000000
2017-03-20 17:09:07      1  0.000000
2017-03-20 17:09:13      1  0.000000
2017-03-20 17:09:30      1  0.000000
2017-03-20 17:09:30      2  0.005236
2017-03-20 17:09:31      1  0.000000
2017-03-20 17:10:36      1  0.000000
2017-03-20 17:11:17      1  0.000000
2017-03-20 17:08:54      1  0.000000
2017-03-20 17:08:53      1  0.000000
2017-03-20 17:08:54      2  0.005236
2017-03-20 17:08:55     14  0.068063
2017-03-20 17:08:56      7  0.031414
2017-03-20 17:08:55      1  0.000000
2017-03-20 17:08:57      1  0.000000
2017-03-20 17:09:00      1  0.000000
2017-03-20 17:08:55      2  0.005236
2017-03-20 17:08:57     22  0.109948
2017-03-20 17:08:58      6  0.026178
2017-03-20 17:08:59      1  0.000000
2017-03-20 17:09:00      1  0.000000
2017-03-20 17:09:02     70  0.361257
2017-03-20 17:09:03      5  0.020942
2017-03-20 17:10:03      1  0.000000
2017-03-20 17:10:34      1  0.000000

[2215 rows x 2 columns]

In [180]:
datatrain = data_normalized1.iloc[100:110000]
datatrain
iforest = IsolationForest(n_estimators=100, contamination=0.00001, max_samples=256)
iforest.fit(datatrain)

prediction = iforest.predict(data_normalized1)

data_group1['prediction'] = prediction
data_group1

                ipdst proto                time  count  prediction
0         10.3.20.102  HTTP 2017-03-20 17:08:56      1           1
1         10.3.20.102  HTTP 2017-03-20 17:08:57      1           1
2         10.3.20.102  HTTP 2017-03-20 17:08:58      1           1
3         10.3.20.102  HTTP 2017-03-20 17:09:31      1           1
4         10.3.20.102   TCP 2017-03-20 17:08:54      1           1
5         10.3.20.102   TCP 2017-03-20 17:08:55      1           1
6         10.3.20.102   TCP 2017-03-20 17:08:56      1           1
7         10.3.20.102   TCP 2017-03-20 17:08:57      1           1
8         10.3.20.102   TCP 2017-03-20 17:08:58      1           1
9         10.3.20.102   TCP 2017-03-20 17:09:00      1           1
10        10.3.20.102   TCP 2017-03-20 17:09:02      1          -1
11        10.3.20.102   TCP 2017-03-20 17:09:03      1           1
12        10.3.20.102   TCP 2017-03-20 17:09:30      1           1
13        10.3.20.102   TCP 2017-03-20 17:10:03      1           1
14        10.3.20.102   TCP 2017-03-20 17:10:34      1           1
15        10.3.20.102   TCP 2017-03-20 17:10:36      1           1
16        10.3.20.102   TCP 2017-03-20 17:11:17      1           1
17      149.202.122.0   UDP 2017-03-20 17:09:07      1           1
18      149.202.122.0   UDP 2017-03-20 17:09:13      1           1
19      149.202.122.1   UDP 2017-03-20 17:09:07      1           1
20      149.202.122.1   UDP 2017-03-20 17:09:13      1           1
21     149.202.122.10   UDP 2017-03-20 17:09:07      1           1
22     149.202.122.10   UDP 2017-03-20 17:09:13      1           1
23     149.202.122.11   UDP 2017-03-20 17:09:07      1           1
24     149.202.122.11   UDP 2017-03-20 17:09:13      1           1
25     149.202.122.12   UDP 2017-03-20 17:09:07      1           1
26     149.202.122.12   UDP 2017-03-20 17:09:13      1           1
27     149.202.122.13   UDP 2017-03-20 17:09:07      1           1
28     149.202.122.13   UDP 2017-03-20 17:09:13      1           1
29     149.202.122.14   UDP 2017-03-20 17:09:07      1           1
...               ...   ...                 ...    ...         ...
2185     149.202.64.6   UDP 2017-03-20 17:09:07      1           1
2186     149.202.64.6   UDP 2017-03-20 17:09:13      1           1
2187     149.202.64.7   UDP 2017-03-20 17:09:07      1           1
2188     149.202.64.7   UDP 2017-03-20 17:09:13      1           1
2189     149.202.64.8   UDP 2017-03-20 17:09:07      1           1
2190     149.202.64.8   UDP 2017-03-20 17:09:13      1           1
2191     149.202.64.9   UDP 2017-03-20 17:09:07      1           1
2192     149.202.64.9   UDP 2017-03-20 17:09:13      1           1
2193  216.170.119.139  HTTP 2017-03-20 17:09:30      1           1
2194  216.170.119.139   TCP 2017-03-20 17:09:30      1           1
2195  216.170.119.139   TCP 2017-03-20 17:09:31      1           1
2196  216.170.119.139   TCP 2017-03-20 17:10:36      1           1
2197  216.170.119.139   TCP 2017-03-20 17:11:17      1           1
2198     37.202.7.169  HTTP 2017-03-20 17:08:54      1           1
2199     37.202.7.169   TCP 2017-03-20 17:08:53      1           1
2200     37.202.7.169   TCP 2017-03-20 17:08:54      1           1
2201     37.202.7.169   TCP 2017-03-20 17:08:55      1           1
2202     37.202.7.169   TCP 2017-03-20 17:08:56      1           1
2203     92.53.104.78  HTTP 2017-03-20 17:08:55      1           1
2204     92.53.104.78  HTTP 2017-03-20 17:08:57      1           1
2205     92.53.104.78  HTTP 2017-03-20 17:09:00      1           1
2206     92.53.104.78   TCP 2017-03-20 17:08:55      1           1
2207     92.53.104.78   TCP 2017-03-20 17:08:57      1           1
2208     92.53.104.78   TCP 2017-03-20 17:08:58      1           1
2209     92.53.104.78   TCP 2017-03-20 17:08:59      1           1
2210     92.53.104.78   TCP 2017-03-20 17:09:00      1           1
2211     92.53.104.78   TCP 2017-03-20 17:09:02      1          -1
2212     92.53.104.78   TCP 2017-03-20 17:09:03      1           1
2213     92.53.104.78   TCP 2017-03-20 17:10:03      1           1
2214     92.53.104.78   TCP 2017-03-20 17:10:34      1           1

[2215 rows x 5 columns]

In [189]:
anomalies = data_group1.loc[data_group1.prediction==-1]
data_group1(data_group1['prediction'] == -1)

data_group1

TypeError: 'DataFrame' object is not callable